:root {
  --color-primary: #0a0a0a;
  --color-secondary: #1a1a1a;
  --color-accent: #ff00ff;
  --color-accent-hover: #ff55ff;
  --font-family: 'Bebas Neue', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: white;
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-hover);
}

button {
  font-family: var(--font-family);
}
